<?xml version="1.0" encoding="UTF-8" ?>

<!-- mybatis 설정파일 -->

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- mybatis 운영방침과 관련된 설정 작성 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 필수설정 : 자바 변수명과 데이터베이스 컬럼명을 자동 매핑 변환 처리 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 
		mybatis 클래스 별칭 설정
		<typeAlias name="클래스경로" alias="별칭"/>
		<package name="패키지경로"/> 
	-->
	<typeAliases>
		<package name="com.gw.groupware.employees.model.Dto"/><!-- mybatis Dto나 VO클래스 경로를 설정해줘야 한다. 안하면 404나옴 -->
	</typeAliases>	
	
	<!-- 데이터베이스 환경 설정 -->
	
		
		<!-- 
		<environment id="deploy"></environment>
		-->
	
	<!-- 
		매퍼 설정 : 구문을 가지고 있는 매퍼 파일들을 등록
		
		<mapper resource="mybatis/mapper/item-mapper.xml"/>
	-->
	<mappers>

	</mappers>
	
</configuration>

